.header{
    background: #1C2B35;
}
.nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1280px;
    margin: 0 auto;
}
.nav-wrap a{
    color: #fff;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
.menu a{
    padding-left: 30px;
}
.nav-wrap a:hover{
    color: #F90;
}