


body {
  margin: 0;
  font-family: "Lato", sans-serif;
  padding: 0;
  box-sizing: border-box;
}
button{
  padding: 0.6em 1.2em;
}
button:hover{
  cursor: pointer;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
